<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Couchbase.Lite.Android" version="1.4.0" targetFramework="monoandroid90" />
  <package id="Couchbase.Lite.Android.Custom" version="1.4.0" targetFramework="monoandroid90" />
  <package id="Couchbase.Lite.Android.ForestDB" version="1.4.0" targetFramework="monoandroid90" />
  <package id="Couchbase.Lite.Java.Core" version="1.4.0" targetFramework="monoandroid90" />
  <package id="Io.Payowrks.Mpos.Android.Ui" version="2.37.0" targetFramework="monoandroid90" />
  <package id="Io.Payworks.Mpos.Android.Core" version="2.37.0" targetFramework="monoandroid90" />
  <package id="Io.Payworks.Mpos.Core" version="2.37.0" targetFramework="monoandroid90" />
  <package id="Jackson.Annotations" version="2.5.0" targetFramework="monoandroid90" />
  <package id="Jackson.Core" version="2.5.0" targetFramework="monoandroid90" />
  <package id="Jackson.Databinding" version="2.5.0" targetFramework="monoandroid90" />
  <package id="Otto" version="1.3.5" targetFramework="monoandroid90" />
  <package id="Parse.Bolts" version="1.2.1" targetFramework="monoandroid90" />
  <package id="Square.OkHttp3" version="3.8.1" targetFramework="monoandroid90" />
  <package id="Square.OkHttp3.WS" version="3.4.2" targetFramework="monoandroid90" />
  <package id="Square.OkIO" version="1.13.0" targetFramework="monoandroid90" />
  <package id="Stateless4J" version="2.4.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.CardView" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Build.Download" version="0.4.9" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Vision" version="60.1142.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Vision.Common" version="60.1142.1" targetFramework="monoandroid90" />
</packages>